**/.DS_Store

**/*.ipynb_checkpoints/

**/*.ppt*
**/*.doc*

records/
submissions/**/unchecked/
syllabus/

materials/**/_*
materials/**/_*.*
materials/**/_*.ipynb
materials/references/
materials/**/*-contrib*/
